<nav class="navbar">
  <ul>
    <li
      style="
        color: #387478;
        font-family: 'Anton', sans-serif;
        font-size: 50px;
        text-transform: uppercase;
      "
    >
      FitZone
    </li>
    <li style="margin-top: 17px"><a href="index.html">Розклад</a></li>
    <li style="margin-top: 17px"><a href="index.html">Абонименти</a></li>
    <li style="margin-top: 17px"><a href="index.html">Тренери</a></li>
    <li style="margin-top: 17px"><a href="index.html">Контакти</a></li>
  </ul>
</nav>
