.table-fixed thead th {
  width: 12.5%; 
  height: 15%;
  text-align: center;
  background-color: #31363F;
  
}
.table-fixed{
  background-color: #eeeeeeb3;
 
}
.table-row-no-data, .table-fixed tbody th{
  text-align: center;
  color:#2c4b57;
}

.table-fixed th, .table-fixed td {
  padding: 10px;
  /* border: 1px solid #31363F; */
}

.table-cell-info{
  background-color: #3f5963c0;
}
.table-cell-info a{
  text-decoration: none;
  color: #eeeeeee6;

}
.table-cell-info:hover{
  background-color: #393d45;
  color: #FCE7C8;
  cursor: pointer;
}
.table-cell-info a:hover{
  color: #FCE7C8;

}
