{% extends 'components/base.html' %} {% load static%} {% block content %}


<section class="map-container">
    <h1 style="text-align: center;">Наше розташування</h1>
    <p style="text-align: center;">Ласкаво просимо до <strong>FITZONE</strong></p>
    <div class="map", style="text-align: center;">
        <iframe 
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2564.1234567890123!2d26.2500000!3d50.6200000!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x472f1234567890ab%3A0xcdef1234567890ab!2sFITNESS%20CITY%20CLUB!5e0!3m2!1suk!2sua!4v1700000000000"
            width="750" height="550" style="border: 5px;;" allowfullscreen="" loading="lazy">
        </iframe>
    </div>
</section>

<div class="contact-info">
    <h3>📍 Адреса: м. Рівне, вул. Словацького, 4/6</h3>
    <h3>📞 Телефон: +380 56 966 02 33</h3>

</div>

{% endblock %}