{% extends 'components/base.html' %} {% load static%} {% block content %}
<h1 class="text-center">Розклад занять FitZone</h1>
<div>
  <table class="table-fixed my-4">
    <thead>
      <tr class="text-center">
        <th scope="col">Час</th>
        <th scope="col">Пн</th>
        <th scope="col">Вт</th>
        <th scope="col">Ср</th>
        <th scope="col">Чт</th>
        <th scope="col">Пт</th>
        <th scope="col">Сб</th>
        <th scope="col">Нд</th>
      </tr>
    </thead>
    <tbody>
      {% for time, days in schedule_dict.items %}
      <tr>
        <th>{{ time|time:"H:i" }}</th>
        {% for day in days.values %} {% if day %}
        <td class="text-center table-cell-info">{{ day }}</td>
        {% else %}
        <td class="table-row-no-data">-</td>
        {% endif %} {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %} {% block extra_head %}
<link rel="stylesheet" href="{% static 'gymApp/calendar.css' %}" />
{% endblock %}
<!-- {% block extra_scripts %}
<script src="{% static 'js/calendar.js' %}"></script>
{% endblock %} -->
