{% extends 'components/base.html' %} {% load static%} {% block content %}
<style>
  .trainer-photo {
    width: 300px; /* Обмеження ширини */
    height: auto; /* Автоматична висота */
    border-radius: 5px; /* Закруглені кути */
    display: block; /* Усуває відступи */
    float: left; /* Вирівнює фото ліворуч */
    margin: 0 20px 20px 0; /* Додає відступи праворуч і знизу */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); /* Легка тінь */
  }
</style>
<title>{{ trainer.first_name }} {{ trainer.last_name }}</title>
<div class="w-75">
  <h1>{{ trainer.first_name }} {{ trainer.last_name }}</h1>
  <img
    src="{{ trainer.photo }}"
    alt="{{ trainer.first_name }} {{ trainer.last_name }}"
    class="trainer-photo"
  />
  <p><strong>Спеціалізація:</strong> {{ trainer.specialization }}</p>
  <p><strong>Досвід:</strong> {{ trainer.experience }}</p>

  <p style="text-align: justify">
    Наші тренери – це не просто спортсмени, а професіонали своєї справи. Вони
    мають багаторічний досвід роботи, пройшли сертифікацію та навчання в галузі
    фітнесу, реабілітації та дієтології. Вони завжди в курсі новітніх методик
    тренувань та використовують найефективніші підходи, щоб допомогти вам
    досягти найкращих результатів. Індивідуальний підхід Ми розуміємо, що кожен
    відвідувач має свої особливості, цілі та рівень фізичної підготовки. Саме
    тому наші тренери розробляють персоналізовані програми тренувань, які
    враховують ваші потреби. Незалежно від того, чи хочете ви схуднути,
    наростити м’язову масу або покращити витривалість, ваш тренер підбере для
    вас оптимальний план. Мотивація та підтримка Ми знаємо, як важливо не тільки
    правильно тренуватися, а й залишатися мотивованими. Наші тренери допоможуть
    вам подолати труднощі, розвинути дисципліну та зробити спорт невід’ємною
    частиною вашого життя. Вони завжди поруч, щоб підтримати, підбадьорити та
    надихнути вас на нові досягнення. Здоровий спосіб життя Тренування – це не
    лише про фізичні вправи. Наші спеціалісти допоможуть вам знайти баланс між
    фізичною активністю, правильним харчуванням та відпочинком. Завдяки цьому ви
    зможете не лише досягти своєї мети, а й покращити якість життя, почуватися
    енергійно та впевнено кожного дня. Приходьте до нас, тренуйтеся під
    керівництвом професіоналів та змінюйте себе на краще!
  </p>

  <a href="{% url 'trainers_list' %}">← Повернутися до списку тренерів</a>
</div>
{% endblock %}
