{% extends 'components/base.html' %} {% load static%} {% block content %}

<h1 style="text-align: center">Наші тренери</h1>

<div
  class="d-flex flex-wrap flex-row justify-content-center align-items-center"
>
  {% for trainer in trainers %}
  <div class="trainer-card">
    <a href="{% url 'trainer_detail' trainer.pk %}">
      <img
        src="{{ trainer.photo }}"
        alt="{{ trainer.first_name }} {{ trainer.last_name }}"
      />
      <h3>{{ trainer.first_name }} {{ trainer.last_name }}</h3>
      <p>Спеціалізація: {{ trainer.specialization }}</p>
    </a>
  </div>
  {% endfor %}
</div>
{% endblock %} {% block extra_head %}
<link rel="stylesheet" href="{% static 'gymApp/trainer_list.css' %}" />
{% endblock %}
